HOST=""
PORT=
ENV="development"

ALLOWED_ORIGINS=""

DATABASE_HOST=""
DATABASE_PORT=
DATABASE_USER=""
DATABASE_PASSWORD=""
DATABASE_NAME=""
DATABASE_URL=""

CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

SALT_ROUNDS=
ORGANIZER_PASSWORD=""
CUSTOMER_PASSWORD=""

JWT_ACCESS_SECRET=""
JWT_REFRESH_SECRET=""
JWT_ACCESS_EXPIRATION= # in minutes
JWT_REFRESH_EXPIRATION= # in hours

MAIL_HOST="smtp.mailtrap.io"
MAIL_PORT=2525
MAIL_SECURE=false
MAIL_USER=""
MAIL_PASS=""
MAIL_FROM=""

REDIS_URL=""

FRONTEND_URL=""

POINT_PER_USER=10000
REFERRAL_DISCOUNT_AMOUNT=10