HOST=""
PORT=

DATABASE_HOST=""
DATABASE_PORT=
DATABASE_USER=""
DATABASE_PASSWORD=""
DATABASE_NAME=""
DATABASE_URL=""

CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

SALT_ROUNDS=
ORGANIZER_PASSWORD=""
CUSTOMER_PASSWORD=""

JWT_ACCESS_SECRET=""
JWT_REFRESH_SECRET=""
JWT_ACCESS_EXPIRATION= # in minutes
JWT_REFRESH_EXPIRATION= # in hours

POINT_PER_USER=10000
REFERRAL_DISCOUNT_AMOUNT=10